/**
 * Form
 */

.form {
  @include form();
  text-align: center;

  p:not(:has([type="submit"])) {
    text-align: left;
  }

  table {
    @include table();
    margin-block-end: space("medium");
    text-align: left;

    th {
      width: 12rem;
    }

    input, select, textarea {
      border: none;
      border-radius: space("x-small");
      background-color: rgba(map-get($colors, $theme-accent), 0.05);
    }
  }

  [type="submit"] {
    display: inline-block;
    width: 14rem;
    height: 3.5rem;
    line-height: 3.5rem;
    margin-inline: space();
    @include make-button();
    @include make-button-color-normal("primary");
  }
}
