/**
 * Layout - G Nav
 */

.gNav {
  @include row(space-between);
  height: 100%;

  &__siteBrand {
    flex: 0 1 9rem;
    text-align: center;
    text-transform: uppercase;
  }

  &__primaryMenu {
    flex: 0 1 36rem;
    text-transform: capitalize;

    .wp-block-navigation-item.is-current {
      font-weight: 700;
    }
  }

  &__socialMenu {
    flex: 0 1 9rem;
  }
}
