/**
 * Utility - Scroll Inview
 */

:where(main > .wp-block-template-part:not(.hero)) {
  opacity: 0;
  transform: translateY(12px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  will-change: opacity, transform;
}

.is-inview {
  opacity: 1;
  transform: none;
}

@media (prefers-reduced-motion: reduce) {
  [data-readable] {
    opacity: 1;
    transform: none;
    transition: none;
  }
}
